<ion-header>
    <ion-navbar color='primary'>
        <ion-title>JWT based Auth.</ion-title>
    </ion-navbar>

    <ion-toolbar color='primary'>
        <ion-title>{{authType}}</ion-title>
    </ion-toolbar>
</ion-header>



<!--<ion-content class="login" *ngIf="!authenticated">-->
<ion-content class="login">
    <ion-segment [(ngModel)]="authType" color="primary">
        <ion-segment-button value="login">
            Log In
        </ion-segment-button>
        <ion-segment-button value="signup">
            Sign Up
        </ion-segment-button>
    </ion-segment>

    <form #signForm="ngForm" (ngSubmit)="authenticate(signForm.value)">
        <ion-item>
            <ion-label>Username</ion-label>
            <ion-input type="text" name="username" ngModel></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" name="password" ngModel></ion-input>
        </ion-item>

        <div padding>
            <button block type="submit">{{authType}}</button>
        </div>
    </form>
    {{signForm.value.username}} {{authenticated}} <br />{{user|json}}
</ion-content>
<!--
<ion-content *ngIf="authenticated">
    <h1>Welcome, {{ user }}</h1>
    <div padding>
        <button block (click)="logout()">Log Out</button>
    </div>
</ion-content>-->