<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color='primary'>

        <ion-title>JWT based Auth.</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="logout()">
       <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar color='primary'>
        <!--<ion-title>Welcome {{username.name}}</ion-title>-->
        <ion-title>Welcome {{user.userName}}</ion-title>
    </ion-toolbar>
</ion-header>




<ion-content padding>
    <div padding>
        <button danger (click)="goback()">back</button>
    </div>
    <ion-item>
        <ion-input [value]='user.userName'></ion-input>
    </ion-item>
    {{user|json}}
    <ion-slides>

        <ion-slide style="background-color:#f4f4f4">


            <ion-grid>
                <ion-row>
                    <h2>Protected data</h2>
                </ion-row>
                <ion-row>
                    <div padding>
                        <button ion-button color="secondary" (click)="getAuthData()">get Protected data</button>
                    </div>
                    <div padding>
                        {{protectedData}}
                    </div>
                </ion-row>
            </ion-grid>
        </ion-slide>

        <ion-slide style="background-color:#f4f4f4">
            <ion-grid>
                <ion-row>
                    <h2>unProtected data</h2>
                </ion-row>
                <ion-row>
                    <div padding>
                        <button ion-button color="danger" (click)="getNormalData()">get unProtected data</button>
                    </div>
                    <div padding>
                        {{unProtectedData}}
                    </div>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>